ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

button {
    border: 0;
    padding: 0;
    background-color: unset;
}
p,
h1,
h2,
h3 {
    margin: 0;
}
